<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>MusicPro</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="resources/css2/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="resources/css2/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="resources/css2/responsive.css" rel="stylesheet" />
</head>

<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="/">
                        <span>
                            Music pro /bodeguero
                        </span>
                    </a>
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav  ">
                                <li class="nav-item">
                                    <a class="nav-link" href="/bodeguero/">Inicio </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/despachar-pedido"> Cancelar<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/bodeguero/"> Pagos </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/bodeguero/">Pedidos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Cerrar sesion</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                        <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                    </form>
                </nav>
            </div>
        </header>
        <!-- end header section -->
        <!-- slider section -->
        <div class="container">
            <center>
                <h1 id="nombreTabla">Tabla de Usuario</h1>
            </center>
            <table class="table table-striped-columns">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Referencia</th>
                        <th>Producto nombre</th>
                        <th>Cantidad</th>
                        <th>Despacho</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% compras.forEach(function(compra) { %>
                        <tr>
                            <td>
                                <%= compra.compra_id %>
                            </td>
                            <td>
                                <%= compra.referencia%>
                            </td>
                            <td>
                                <%= compra.producto_nombre %>
                            </td>
                            <td>
                                <%= compra.cantidad %>
                            </td>
                            <td>
                                <%= compra.despacho %>
                            </td>
                            <td>
                                <a id="editar" onclick="actualizarDespacho(<%= compra.id %>)">Despachar</a>
                                <a id="borrar" href="#">Cancelar</a>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>

        <!-- end info_section -->

        <!-- footer section -->
        <section class="container-fluid footer_section">
            <p>
                Copyright &copy; 2023 All Rights Reserved By MusicPro
            </p>
        </section>
        <!-- footer section -->
        <script type="text/javascript" src="/resources/js/modal.js"></script>
        <script type="text/javascript" src="/resources/js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/resources/js/bootstrap.js"></script>
</body>

</html>